
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #eaf2ff, #f7f9ff);
  display:flex;
  flex-direction:column;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  background: #0a2a66;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar ul li {
  cursor: pointer;
}

/* HERO */
.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero h1 {
  font-size: 40px;
  color: #0a2a66;
}

.hero p {
  color: #555;
}

/* CARDS */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}

.card {
  background: white;
  width: 400px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  margin-top:20px;
  margin-bottom:25px;
  transition:all 0.3s ease;
}

.card:hover{
  transform:translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* LEFT CARD LIST */
.card ul {
  padding-left: 20px;
}

.card ul li {
  margin: 15px 0;
}

/* PROGRESS */
.progress {
  margin-bottom: 20px;
}

.bar {
  height: 10px;
  border-radius: 10px;
  background: #ddd;
  margin-top: 5px;
}

.green {
  width: 100%;
  background: green;
}

.blue {
  width: 100%;
  background: #1e73ff;
}

.orange {
  width: 20%;
  background: orange;
}

/* STATUS TEXT */
.done {
  color: green;
  float: right;
}

.progressing {
  color: #1e73ff;
  float: right;
}

.upcoming {
  color: orange;
  float: right;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: #ffdd57;
}
.page-content{
  max: width 1000px;
  width:100%;
  margin:0 auto;
  padding:0 20px;
  box-sizing:border-box;
}
.about-cards{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    margin-top:20px;
}
h1{
  color:#0a2a66;
  margin-bottom:20px;
}
h2{
  color:#1e3a8a;
}
.roadmap-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}
.internship-cards{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.internship-cards .card{
    max-width: 600px;
}

.internship-cards ul{
    padding-left: 20px;
}
.certificate-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.project-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.contact-card{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
footer{
    text-align: center;
    padding: 20px;
    margin-top: auto;
    background-color: #0a2a66;
    color: white;
}
.main-content{
  flex:1;
}
.btn{
  display:inline-block;
  padding: 12px 24px;
  background:#4CAF50;
  color: white;
  text-decoration: :none;
  border-radius:8px;
  transition:0.3s;
  font-weigth:500;
}
.btn:hover{
  transform:scale(1.05);
}
@media (max-width: 768px) {

  /* NAVBAR */
  .navbar ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  /* CERTIFICATE SECTION */
  .certificate-cards {
    flex-direction: column;
    align-items: center;
  }

}
@media (max-width: 768px) {

  body {
    text-align: center;
    padding: 10px;
  }

  h1, h2, h3 {
    font-size: 90%;
  }

}